.news {
    padding: 120px 0 123px 0;

    @media (max-width: $mobile-screen) {
        padding: 60px 0;
    }

    .container {        
        .news-item-large {
            display: flex;
            gap: 54px;
            align-items: center;

            @media (max-width: $tablet-screen) {
                flex-direction: column;
                gap: 32px;
            }

            img.thumbnail {
                max-width: 65%;

                @media (max-width: $tablet-screen) {
                    max-width: 100%;
                    width: 100%;
                }
            }

            .info {
                h3 {
                    color: #1B2024;
                    font-size: 40px;
                    font-style: normal;
                    font-weight: 800;
                    line-height: 50px;
                    margin-bottom: 28px;

                    .underline {
                        text-decoration: underline;
                        text-decoration-color: #28B473;
                        text-decoration-thickness: 3px;
                        text-underline-offset: 6px;
                    }
                }

                
            }
        }

        .news-list-small {
            display: flex;
            gap: 53px;
            margin-top: 45px;

            @media (max-width: $tablet-screen) {
                margin-top: 60px;
            }

            @media (max-width: $mobile-screen) {
                flex-direction: column;
            }

            .news-item-small {
                width: 478px;
                max-width: 100%;

                @media (max-width: $mobile-screen) {
                    width: 100%;
                }

                img.thumbnail {
                    max-width: 100%;

                    @media (max-width: $mobile-screen) {
                        width: 100%;
                    }
                }

                h3 {
                    color: #1B2024;
                    font-size: 28px;
                    font-style: normal;
                    font-weight: 700;
                    line-height: 38px;
                    margin: 18px 0 21px 0;
                }
            }
        }
    }

    .details {
        display: flex;
        align-items: center;

        img {
            margin-right: 9px;
        }

        .department {
            color: #A93AA3;
            font-size: 18px;
            font-style: normal;
            font-weight: 800;
            line-height: 22.985px;
            margin-right: 13px;

            &.blue {
                color: #1D9AD6;
            }

            &.dark-blue {
                color: #2E4797;
            }
        }

        .divider {
            height: 12px;
            width: 1px;
            background-color: #8E929B;
            margin-right: 13px;
        }

        .date {
            color: #8E929B;
            font-size: 18px;
            font-style: normal;
            font-weight: 800;
            line-height: 22.985px;
        }
    }
}