.story {
    .container {
        display: flex;
        gap: 72px;
        align-items: center;
        padding-bottom: 135px;

        @media (max-width: 1340px) {
            flex-direction: column;
            gap: 12px;
        }

        @media (max-width: $mobile-screen) {
            padding-bottom: 60px;
        }

        .left {
            width: 554px;
            flex-shrink: 0;
            margin-top: 130px;

            @media (max-width: $desktop-screen) {
                width: 450px;
            }

            @media (max-width: 1340px) {
                width: 100%;
            }

            @media (max-width: $mobile-screen) {
                margin-top: 60px;
            }

            h3 {
                color: #000;
                font-size: 40px;
                font-style: normal;
                font-weight: 600;
                line-height: 60px;

                .underline {
                    text-decoration: underline;
                    text-decoration-color: #F4857A;
                    text-decoration-thickness: 3px;
                    text-underline-offset: 5px;
                }
            }

            .read-more-btn {
                text-decoration: none;
                display: inline-block;
                color: #1D9AD6;
                font-size: 18px;
                font-style: normal;
                font-weight: 500;
                line-height: 22.985px;
                margin-top: 24px;
            }
        }

        .right {
            padding-left: 124px;

            @media (max-width: $mobile-screen) {
                padding-left: 0;
            }

            .logos {
                display: flex;
                gap: 68px;
                justify-content: flex-end;
                align-items: flex-end;
                margin-top: 141px;
                padding: 0 36px 0 123px;

                @media (max-width: $mobile-screen) { 
                    padding: 12px;
                    flex-wrap: wrap;
                    justify-content: center;
                    gap: 16px;
                    margin-top: 60px;
                }

                img {
                    width: auto;
                    height: 59px;
                    margin-bottom: 16px;
                    max-width: 50%;

                    @media (max-width: $mobile-screen) {
                        height: initial;
                        max-width: 100%;
                        flex-shrink: 0;
                    }

                    &:last-child {
                        height: 39px;
                        margin-bottom: 26px;
                    }
                }
            }

            .story-card {
                background-color: #1D9AD6;
                padding: 40px 24px 40px 135px;
                border-radius: 8px;
                position: relative;

                @media (max-width: $mobile-screen) {
                    display: flex;
                    flex-direction: column;
                    padding-left: 24px;
                    align-items: center;
                }

                img {
                    position: absolute;
                    left: -125px;
                    top: -91px;
                    border-radius: 8px;

                    @media (max-width: $mobile-screen) {
                        position: initial;
                        width: 200px;
                        max-width: 90%;
                        margin-bottom: 24px;
                    }
                }

                p {
                    color: #FFF;
                    font-size: 24px;
                    font-style: normal;
                    font-weight: 300;
                    line-height: 34px;

                    &:last-child {
                        margin-top: 5px;
                    }
                }
            }
        }
    }
}