// fonts
$primary-font: 'Roboto', sans-serif;

// colors
$primary-color: #25A767;
$secondary-color: #1998D5;
$light-bg-color: #F3F4F8;

// website width
$container-size: 1540px;

// screen sizes
$desktop-screen: 1440px;
$tablet-screen: 1024px;
$mobile-screen: 668px;